body{
    background: rgb(75, 206, 119);
    font-family: 'Montserrat', sans-serif;
}
.bo2{
    background: url(img/bg.jpg) ;
    background-image: fixed;
    background-image: center;
    background-size: cover;
    background-attachment: fixed;
}
li{
    float: left;
    padding: 15px;
    margin: 5px;
    text-decoration: none;
    list-style: none;
    color: white;
}
li a{
    text-decoration: none;
    color: white;
    
}
nav{
    width: 100%;
    padding-bottom: 50px;
    list-style: none;
    margin-bottom: 100px;
    
}
header{
    width: 75%;
    height: 50px;
    padding-left: 50px;
    margin: auto;
}
h1{
    width: 500px;
    margin: auto;
    width: fit-content;
}
.head{
    margin: auto;
    width: fit-content;
}
img{
    
    width: 300px;
}
.p2{
    color: white;
}
article{
    width: 300px;
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    margin: 1px;
    float: left;
}

.container{
    margin-top: 50px;
    /*width: 100%;*/
    padding-left: 15%;
    padding-right: 15%;
    
}

button{
    background: rgb(70, 216, 26);
    text-decoration: none;
}